/* Normalize CSS */
@import-normalize;

:root {
    --main: #12cfe8;
    --main-hover: #12cfe8;
    --main-active: #0b7c8b;
    --background: #121212;
}

/* Set the font */
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}